html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;                
  min-height: 100vh;           
  overflow-x: hidden;          
  scroll-behavior: smooth;
  background-color: #f8fafc; /* slate-50 */
  overscroll-behavior-y: none;
}

html.dark body {
  background-color: #000000;
}

#root {
  width: 100%;
  min-height: 100vh;           
}